<div class="col-lg-12">

    <div class="card rounded-0 mt-3 mb-4 bg-dark bg-gradient text-white">
        <div class="card-body ">
        <h1 class="text-center">Listing All The Rent Independent Property</h1>
        </div>
    </div>

    <%= render 'rentListTable' %>
</div>